/* ---- GENERELLE REGLER ---- */
body {
margin: 0;
padding: 0;
}

/* ----NAV BAR ----*/

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
}

#navbar a:hover {
}

#navbar a.active {
}

.nav-logo{
width: 100px;
height: 100px;
}

/* ---- STICKY NAV ---- */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
z-index: 1;
}

.sticky + .content {
  padding-top: 60px;
}

/* ---- HEADER VIDEO CONTENT ---- */

.header-content {
position: absolute;
    bottom: 0;
    right: 17px;
    top: 180px;
    background-color: rgba(59, 89, 116, 0.85);
    color: #f1f1f1;
    width: 400px;
    height: 300px;
    padding: 0 20px;
}

.header-text h2 {
font-family: "Georgia", sans-serif;
font-size: 3em;
}

header {
width: 100%;
overflow: hidden;
}

#myVideo{
max-width: 100%;
}


/* ---- MAIN PAGE CONTENT ---- */
.content {
  padding: 16px;
}

.slider-container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
}

.slider {
grid-column: 1/3;
}


/* ---- FOOTER CONTENT ---- */
footer {
background-color:#052951;
height: 100%;
}

footer p{
text-align: center;
}
